/*-------------------------main-------------------------*/
* {
  font-family: "AT_Avant", sans-serif;
}
#wrapper {
  color: #000;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
#wrapper .button {
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #7cc134;
  color: #fff;
  background: #7cc134;
}
#wrapper .button:hover {
  color: #7cc134;
  background: #fff;
}
#wrapper .row {
  margin: 0 15px;
}
#wrapper h1,
#wrapper h2,
#wrapper h3,
#wrapper h4,
#wrapper h5,
#wrapper h6,
#wrapper p {
  padding: 0;
  margin: 0;
}
#wrapper h1 {
  font-size: 60px;
}
#wrapper h2 {
  font-size: 30px;
}
#wrapper h3 {
  font-size: 24px;
}
#wrapper h4 {
  font-size: 18px;
}
#wrapper h5 {
  font-size: 16px;
}
#wrapper p {
  font-size: 14px;
}
#wrapper h6 {
  font-size: 12px;
}
#wrapper a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
#wrapper a:hover {
  color: #000;
  text-decoration: none;
}
#wrapper .container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 1180px;
  width: 100%;
}
#wrapper .container .row {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.smallblock {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/*-------------------------Message of mail.php-------------------------*/
#wrapper .thank {
  position: fixed;
  top: 23%;
  left: 0;
  width: 100%;
  z-index: 222;
  display: none;
}
#wrapper .thank .thankss {
  background-image: url(../image/bg_modal.jpg);
  width: 55%;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
}
#wrapper .thank .thankss .inthank {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10% 0;
  height: 300px;
}
#wrapper .thank .thankss p {
  padding: 20px;
  margin: 0;
  text-align: center;
  color: #18722F;
  font-size: 26px !important;
  font-weight: bold;
  line-height: 43px;
}
@media (max-width: 600px) {
  body #wrapper .thank {
    top: 35%;
  }
  body #wrapper .thank .thankss {
    width: 80%;
    height: 200px;
  }
  body #wrapper .thank .thankss p {
    font-size: 20px !important;
  }
}

/*-------------------------Form of zakaz send.php-------------------------*/
#form_2 div.step {
		display:none;
	}
	
		/* form div.step p.step{
			text-align:center;
			font-size:28px;
		}
		
		form div.step p{
		}
		
			form div.step p input{
				float:right;
			} */
	
	.under .back {
		display:none !important;
	}
	
	#form_2 input[type=submit] {
		display:none;
	}
	
	/* a {
		color:#006600;
		text-decoration:none;
	}
	
	form p.talign{
		text-align:center;
	} */
	
.under .next {
  float: right;
  width: 50%;
}
.under .back {
  float: left;
}

.under .back button {
  margin: 0;
  width: 190px;
  background-color: #fff !important;
  border-color: #d7d7d7 !important;
  color: #000 !important;
}

.step .block {
  float: left;
  width: 16%;
}

/*-------------------------mainPage-start------------------------*/
#wrapper {
  background-image: url(../image/bg_header2.png);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 999;
}
#wrapper header .container .row .col-sm-3 {
  width: 26%;
  padding: 0;
}
#wrapper header .container .row .col-sm-3 .tell {
  background-image: url(../image/tel.png);
  background-position-x: 68px;
}
#wrapper header .container .row .col-sm-3 .mail {
  background-image: url(../image/mail.png);
  background-position-x: 12px;
}
#wrapper header .container .row .col-sm-3 .tell,
#wrapper header .container .row .col-sm-3 .mail {
  text-align: right;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  background-repeat: no-repeat;
  -ms-background-position-y: center;
  background-position-y: center;
  letter-spacing: 2.2px;
}
#wrapper header .container .row .col-sm-3 .tell:hover,
#wrapper header .container .row .col-sm-3 .mail:hover {
  text-decoration: underline;
}
#wrapper header .container .row .right_tel {
  padding: 59px 57px 0 0;
}
#wrapper header .container .row .col-sm-6 {
  padding: 0;
  width: 48%;
  padding-top: 65px;
  padding-left: 20px;
}
#wrapper header .container .row .col-sm-6 .round {
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #fff;
  padding: 13px 0;
  border-radius: 60px;
  letter-spacing: 1px;
  margin-right: 17px;
  height: 47px;
  width: 194px;
  display: inline-block;
  text-align: center;
}
#wrapper header .container .row .col-sm-6 .inst {
  margin: 0 7px 0 4px;
}
#wrapper .main_content {
  background-image: url(../image/bg_cent.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 49px;
}
#wrapper .main_content .container .row .col-sm-5 {
  padding: 56px 0 0 60px;
  width: 44%;
  /* .withbord{
						background-image: url(../image/bg_grey1.png);
						background-repeat: no-repeat;
						-ms-background-position-y: center;
						background-position-y: center;
						padding: 21px 0 22px 28px;
					} */
}
#wrapper .main_content .container .row .col-sm-5 h5 {
  font-weight: bold;
  letter-spacing: 2.8px;
  padding-left: 7px;
  padding-bottom: 30px;
}
#wrapper .main_content .container .row .col-sm-5 p {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1.7px;
  padding: 12px 0 25px 28px;
}
#wrapper .main_content .container .row .col-sm-5 p img {
  padding-right: 14px;
}
#wrapper .main_content .container .row .col-sm-5 .border {
  cursor: pointer;
  border-bottom: 2px solid #000;
  margin: 0 132px 8px 7px;
  padding: 12px 0 16px 20px;
}
#wrapper .main_content .container .row .col-sm-5 .border:hover {
  background-image: url(../image/bg_grey1.png);
  background-repeat: no-repeat;
  -ms-background-position-y: center;
  background-position-y: center;
  border-color: #fff;
}
#wrapper .main_content .container .row .col-sm-5 .last {
  border-color: #fff;
}
#wrapper .main_content .container .row .col-sm-5 .test {
  text-transform: uppercase;
  padding-top: 15px;
  line-height: 1.2;
  letter-spacing: 2px;
}
#wrapper .main_content .container .row .col-sm-5 .atest {
  font-weight: bold;
  letter-spacing: 1.8px;
  border: 1px solid #f1c731;
  border-radius: 40px;
  background-color: #f1c731;
  height: 43px;
  width: 189px;
  display: block;
  text-align: center;
  padding: 10px 0;
  margin-left: 140px;
  margin-top: 2px;
}
#wrapper .main_content .container .row .col-sm-7 {
  width: 56%;
  padding: 59px 58px 0 21px;
}
#wrapper .main_content .container .row .col-sm-7 #mainslider {
  position: relative;
}
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-prev {
  left: -25px;
  background: #494949 url(../image/ar_l.png);
}
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-prev:hover {
  background: #f1c731 url(../image/ar_l.png);
  background-repeat: no-repeat;
  background-position: center;
}
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-next {
  right: -23px;
  background: #494949 url(../image/ar_r.png);
}
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-next:hover {
  background: #f1c731 url(../image/ar_r.png);
  background-repeat: no-repeat;
  background-position: center;
}
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-next,
#wrapper .main_content .container .row .col-sm-7 #mainslider .owl-prev {
  background-repeat: no-repeat;
  background-position: center;
  height: 69px;
  width: 68px;
  border-radius: 104px;
  position: absolute;
  top: 40%;
  opacity: 1;
}
#wrapper .almost_footer {
  background-image: url(../image/bg_almf.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 23px;
}
#wrapper .almost_footer .container .row {
  padding-left: 58px;
}
#wrapper .almost_footer .container .row .col-sm-9,
#wrapper .almost_footer .container .row .col-sm-3 {
  padding: 0;
}
#wrapper .almost_footer .container .row h5,
#wrapper .almost_footer .container .row p,
#wrapper .almost_footer .container .row a {
  color: #fff;
}
#wrapper .almost_footer .container .row h5 {
  padding: 33px 0 14px 8px;
  font-weight: bold;
  letter-spacing: 3px;
}
#wrapper .almost_footer .container .row p {
  padding-left: 30px;
  letter-spacing: 1.1px;
  padding-bottom: 9px;
}
#wrapper .almost_footer .container .row p img {
  padding-right: 14px;
}
#wrapper .almost_footer .container .row .order {
  font-weight: bold;
  background-image: url(../image/order.png);
  background-repeat: no-repeat;
  display: block;
  margin-top: 34px;
  margin-left: 12px;
  padding: 16px 0 20px 83px;
  cursor: pointer;
}
#wrapper .almost_footer .container .row .order:hover {
  opacity: 0.8;
}
#wrapper footer h6 {
  text-transform: uppercase;
  text-align: center;
  background-color: #f1c731;
  padding: 20px 0;
  letter-spacing: 2.7px;
}
#wrapper footer h6 a {
  text-decoration: underline;
}
#wrapper footer h6 a:hover {
  text-decoration: none;
}
/*-------------------------mainPage-end------------------------*/
/*-------------------------modal-start------------------------*/
#wrapper #myModal .modal-dialog {
  max-width: 560px;
  width: 100%;
}
#wrapper #myModal .modal-dialog .modal-content {
  border-radius: 0;
  border: 0;
  background-repeat: no-repeat;
  background-image: url(../image/bg_modal.jpg);
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .close {
  opacity: 1;
  text-shadow: 0;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .close:hover {
  opacity: 0.5;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body h2 {
  text-align: center;
  letter-spacing: 6px;
  font-weight: bold;
  padding: 31px 0 20px 0;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body h6 {
  text-align: center;
  letter-spacing: 2.5px;
  padding-bottom: 6px;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 {
  padding: 19px 21px 3px 25px;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 input {
  width: 228px;
  height: 51px;
  border: none;
  border-radius: 2px;
  padding-left: 20px;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: 4px;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 .telclass {
  margin-left: 21px;
}
#wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 button {
  display: block;
  width: 193px;
  height: 49px;
  margin: 37px auto 0 auto;
  letter-spacing: 2px;
}
/*-------------------------modal-end------------------------*/
/*-------------------------example-start------------------------*/
#wrapper #ex {
  padding-bottom: 0;
}
#wrapper #ex .container #example_slider {
  position: relative;
  padding: 0px 59px 5px 60px;
}
#wrapper #ex .container #example_slider .owl-wrapper-outer .row .col-sm-4 {
  padding: 17px 0 3px 0;
}
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-prev {
  left: -3px;
  background: url(../image/ar_l_bl.png);
}
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-prev:hover {
  opacity: 0.5;
}
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-next {
  right: -7px;
  background: url(../image/ar_r_bl.png);
}
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-next:hover {
  opacity: 0.5;
}
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-next,
#wrapper #ex .container #example_slider .owl-controls .owl-buttons .owl-prev {
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 60px;
  position: absolute;
  top: 49.5%;
  opacity: 1;
  margin-top: -20px;
}
/*-------------------------example-end------------------------*/
/*-------------------------requared-start------------------------*/
#wrapper #requared {
  padding-bottom: 0;
}
#wrapper #requared .container #requared_slider {
  position: relative;
  padding: 47px 120px 53px 120px;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 {
  padding: 17px 0 3px 0;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req {
  text-align: center;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req .text_req {
  background-image: url(../image/border.png);
  background-repeat: no-repeat;
  background-position: 25px 35px;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req h3 {
  padding: 25px 0px 9px 0;
  font-size: 20px;
  font-weight: bold;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req h6 {
  letter-spacing: 1.8px;
  padding-bottom: 24px;
}
#wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req p {
  padding: 19px 45px 30px 45px;
  line-height: 26px;
}
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-prev {
  left: -3px;
  background: url(../image/ar_l_bl.png);
}
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-prev:hover {
  opacity: 0.5;
}
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-next {
  right: -7px;
  background: url(../image/ar_r_bl.png);
}
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-next:hover {
  opacity: 0.5;
}
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-next,
#wrapper #requared .container #requared_slider .owl-controls .owl-buttons .owl-prev {
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 60px;
  position: absolute;
  top: 49.5%;
  opacity: 1;
  margin-top: -20px;
}
/*-------------------------requared-end------------------------*/
/*-------------------------tematic-start------------------------*/
#wrapper .tem {
  background-image: url(../image/bg_tematic.png);
  background-size: cover;
}
#wrapper #tematic .container .tematic_top {
  padding: 41px 3px 47px 13px;
}
#wrapper #tematic .container .tematic_top a {
  display: inline-block;
  margin-right: 36px;
}
#wrapper #tematic .container .tematic_top a:last-of-type {
  margin-right: 0;
}
#wrapper #tematic .container .tematic_top h5 {
  color: #9fa1a5;
  text-transform: uppercase;
  display: inline-block;
  width: 192px;
  border-radius: 50px;
  font-weight: bold;
  border: 2px solid #ffc80a;
  text-align: center;
  padding: 13px 0 !important;
  letter-spacing: 3px;
}
#wrapper #tematic .container .tematic_top .active_top {
  background-color: #ffc80a;
  color: #000;
}
#wrapper #tematic .container .radio {
  padding-left: 43px;
}
#wrapper #tematic .container .radio input[type="radio"] {
  display: none;
}
#wrapper #tematic .container .radio input[type="radio"] + label {
  color: #9fa1a5;
  font-size: 14px;
  padding-bottom: 9px;
  margin-right: 15px;
}
#wrapper #tematic .container .radio input[type="radio"] + label span {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../image/radio.png) 0 center no-repeat;
  cursor: pointer;
  margin-right: 9px;
}
#wrapper #tematic .container .radio input[type="radio"]:checked + label span {
  background: url(../image/radio_cheked.png) 0 center no-repeat;
}
#wrapper #tematic .container .radio input[type="radio"]:checked + label p {
  color: #000;
}
#wrapper #tematic .container .radio input[type="radio"] + label p {
  display: inline-block;
  line-height: 19px;
  padding-top: 2px;
  letter-spacing: 1px;
}
#wrapper #tematic .container .under {
  padding-top: 228px;
}
#wrapper #tematic .container .under a {
  display: block;
}
#wrapper #tematic .container .under a button {
  border-color: #ffc80a;
  color: #4e4e4e;
  text-transform: none;
  background-color: #ffc80a;
  font-size: 14px;
  display: block;
  margin: 0 59px 0 auto;
  width: 160px;
  height: 48px;
}
#wrapper #tematic .container .under a button:hover {
  opacity: 0.5;
}
#wrapper #tematic_foot {
  padding-bottom: 57px;
}
#wrapper #tematic_foot .container .row {
  padding-left: 0px;
  padding-top: 21px;
}
#wrapper #tematic_foot .container .row h5 {
  padding: 16px 0 0px 0px;
}
#wrapper #tematic_foot .container .row h5 span {
  color: #ffc80a;
  padding-left: 5px;
}
#wrapper #tematic_foot .container .row .col_sec {
  padding: 0 0 0 45px;
  width: 30.333%;
}
#wrapper #tematic_foot .container .row .col_three {
  width: 19.667%;
}
#wrapper #tematic_foot .container .row .col_three .buy {
  display: block;
  padding-top: 18px;
}
#wrapper #tematic_foot .container .row .col_three .buy button {
  width: 172px;
  height: 48px;
  letter-spacing: 1px;
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
#wrapper #tematic_foot .container .row .col_three .buy button:hover {
  opacity: 0.5;
}
#wrapper #tematic_foot .container .row .order {
  margin-top: 13px;
  margin-left: 27px;
}
/*-------------------------tematic-end------------------------*/
/*-------------------------design-start------------------------*/
#wrapper .design {
  padding-bottom: 31px !important;
}
#wrapper .design #design .radio .top_radio {
  overflow: hidden;
}
#wrapper .design #design .radio .top_radio input[type="radio"]:checked + label + label {
  background-color: #000;
}
#wrapper .design #design .radio .top_radio .block {
  float: left;
  width: 16%;
}
#wrapper .design #design .radio .top_radio .block .design_b {
  margin: 11px 3px 0 19px;
  background-color: #cacad1;
  display: block;
  text-align: center;
  padding: 52px 0 0 0;
  height: 160px;
  letter-spacing: 1px;
}
#wrapper .design #design .radio .top_radio .block .design_b p {
  color: #fff;
  font-weight: bold;
}
#wrapper .design #design .radio .under {
  padding-top: 59px;
  overflow: hidden;
}
#wrapper .design #design .radio .under a {
  float: right;
  width: 50%;
}
#wrapper .design #design .radio .under .come_back {
  float: left;
}
#wrapper .design #design .radio .under .come_back button {
  margin: 0;
  width: 190px;
  background-color: #fff;
  border-color: #d7d7d7;
  color: #000;
}
/*-------------------------design-end------------------------*/
/*-------------------------format-start------------------------*/
#wrapper .design {
  padding-bottom: 31px !important;
}
#wrapper .design #design #format_r .top_radio input[type="radio"]:checked + label + label {
  background-color: #fff;
}
#wrapper .design #design #format_r .top_radio .block .design_b {
  margin: 0 3px 0 10px;
  background-color: #fff;
  padding: 33px 0 0 0;
  height: auto;
}
#wrapper .design #design #format_r .under {
  padding-top: 40px;
}
/*-------------------------format-end------------------------*/
/*-------------------------pages-start------------------------*/
#wrapper .design {
  padding-bottom: 31px !important;
}
#wrapper .design #design #pages {
  margin-top: 6px;
}
#wrapper .design #design #pages .top_radio {
  position: relative;
  padding-bottom: 196px;
}
#wrapper .design #design #pages .top_radio .plus,
#wrapper .design #design #pages .top_radio .minus {
  position: absolute;
  top: 5px;
  font-weight: bold;
}
#wrapper .design #design #pages .top_radio .minus {
  left: 14px;
}
#wrapper .design #design #pages .top_radio .plus {
  left: 66px;
}
#wrapper .design #design #pages .top_radio .count {
  width: 88px;
  height: 30px;
  margin-left: 21px;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
#wrapper .design #design #pages .under {
  padding-top: 40px;
}
/*-------------------------pages-end------------------------*/
/*-------------------------howmany-start------------------------*/
#wrapper .design {
  padding-bottom: 31px !important;
}
#wrapper .design #design #howmany {
  margin-top: 6px;
}
#wrapper .design #design #howmany .top_radio {
  padding-bottom: 97px;
  position: relative;
}
#wrapper .design #design #howmany .top_radio .plus,
#wrapper .design #design #howmany .top_radio .minus {
  position: absolute;
  top: 5px;
  font-weight: bold;
}
#wrapper .design #design #howmany .top_radio .minus {
  left: 14px;
}
#wrapper .design #design #howmany .top_radio .plus {
  left: 66px;
}
#wrapper .design #design #howmany .top_radio .count {
  width: 88px;
  height: 30px;
  margin-left: 21px;
  color: #000;
  border: 2px solid #000;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
#wrapper .design #design #howmany .top_radio h6 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding-top: 12px;
  padding-left: 21px;
}
#wrapper .design #design #howmany .under {
  padding-top: 40px;
}
/*-------------------------howmany-end------------------------*/
/*-------------------------adaptive-start------------------------*/
@media screen and (max-width: 1200px) {
  #wrapper header .container .row .col-sm-6 {
    padding: 65px 0 0 10px;
  }
  #wrapper header .container .row .col-sm-6 .round {
    width: 156px;
  }
  #wrapper header .container .row .right_tel {
    padding: 59px 10px 0 0;
  }
  #wrapper .main_content .container .row .col-sm-5 .border {
    margin: 0 93px 8px 7px;
  }
  #wrapper .main_content .container .row .col-sm-5 .test {
    padding-left: 0;
  }
  #wrapper .main_content .container .row .col-sm-5 .test br {
    display: none;
  }
  #wrapper .almost_footer .container .row {
    padding-left: 0;
  }
  #wrapper .almost_footer .container .row .col-sm-9 {
    width: 70%;
  }
  #wrapper .almost_footer .container .row .col-sm-3 {
    width: 30%;
  }
  #wrapper .almost_footer {
    background-position-x: 54%;
  }
  #wrapper #ex .container #example_slider {
    padding: 23px 59px 5px 60px;
  }
  #wrapper #ex .container #example_slider .owl-wrapper-outer .row .col-sm-4 {
    padding: 17px 5px 3px;
  }
  #wrapper #requared .container #requared_slider {
    padding: 47px 50px 53px;
    max-width: 992px;
    width: 100%;
    margin: 0 auto;
  }
  #wrapper #tematic .container .tematic_top a {
    display: inline-block;
    margin-right: 2%;
    width: 100%;
    max-width: 18%;
  }
  #wrapper #tematic .container .tematic_top a h5 {
    width: 100%;
  }
  #wrapper #tematic .container .tematic_top {
    padding: 41px 0 47px 0;
  }
  #wrapper #tematic_foot .container .row .col_sec {
    padding: 0 0 0 0;
    width: 24.333%;
  }
  #wrapper .almost_footer .container .row h5 {
    letter-spacing: 1px;
  }
  #wrapper #tematic_foot .container .row .col_three .buy button {
    width: 140px;
  }
  #wrapper #tematic_foot .container .row .col_three {
    width: 15.667%;
  }
  #wrapper #tematic_foot {
    padding-bottom: 45px;
  }
  #wrapper #tematic_foot {
    background-position-x: 52.5%;
  }
  #wrapper .design #design .radio .top_radio .block {
    width: 19%;
  }
  #wrapper {
    background-image: none;
  }
  #wrapper header {
    background-image: url(../image/bg_header_small.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media screen and (max-width: 992px) {
  #wrapper header .container .row .col-sm-6 {
    padding: 13px 0 0 2px;
    width: 46%;
  }
  #wrapper header .container .row .col-sm-6 .inst {
    margin-left: 32%;
  }
  #wrapper header .container .row .col-sm-6 .round {
    margin-bottom: 9px;
  }
  #wrapper header .container .row .col-sm-3 .mail,
  #wrapper header .container .row .col-sm-3 .tell {
    letter-spacing: 1px;
  }
  #wrapper header .container .row .right_tel {
    padding: 34px 3px 0 0;
    width: 27%;
  }
  #wrapper header .container .row .col-sm-3 .tell {
    background-position-x: 42px;
  }
  #wrapper header .container .row .col-sm-3 .mail {
    background-position-x: 11px;
    letter-spacing: 0 !important;
  }
  #wrapper .main_content .container .row .col-sm-5 h5 {
    letter-spacing: 0.8px;
    padding-bottom: 5px;
  }
  #wrapper .main_content .container .row .col-sm-5 {
    padding: 30px 0 0 15px;
    width: 50%;
  }
  #wrapper .main_content .container .row .col-sm-7 {
    width: 50%;
    padding: 44px 32px 0 0px;
  }
  #wrapper .main_content .container .row .col-sm-7 #mainslider .owl-next,
  #wrapper .main_content .container .row .col-sm-7 #mainslider .owl-prev {
    height: 55px;
    width: 55px;
  }
  #wrapper .main_content .container .row .col-sm-5 .border {
    margin: 0 75px 4px 4px;
    padding: 9px 0 10px 20px;
  }
  #wrapper .main_content .container .row .col-sm-5 .test {
    padding-top: 0px;
  }
  #wrapper .almost_footer .container .row .col-sm-9 {
    width: 60%;
  }
  #wrapper .almost_footer .container .row .col-sm-3 {
    width: 40%;
  }
  #wrapper .almost_footer {
    background-position-x: 58%;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req .text_req {
    background-image: none;
    border: 2px solid #dcdcdc;
    border-radius: 8px;
    margin: 0 5px;
    margin-top: 15px;
  }
  #wrapper #requared .container #requared_slider {
    padding: 20px 50px 53px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req h3 {
    padding: 15px 0 5px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req h6 {
    padding-bottom: 8px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req p {
    padding: 7px 10px 20px;
  }
  #wrapper #requared .container #requared_slider {
    padding: 20px 50px 27px;
  }
  #wrapper #tematic .container .tematic_top h5 {
    font-size: 14px;
    letter-spacing: 2px;
  }
  #wrapper #tematic .container .tematic_top {
    padding: 30px 0 30px;
  }
  #wrapper #tematic .container .radio {
    padding-left: 0;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label {
    padding-left: 6px;
    margin-right: 0px;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label span {
    margin: -1px 5px 0 0;
  }
  #wrapper .design #design .radio .top_radio .block .design_b p {
    font-size: 12px;
  }
  #wrapper .almost_footer .container .row h5 {
    letter-spacing: 0;
    font-size: 14px;
  }
  #wrapper #tematic_foot .container .row .col-sm-3 {
    width: 25%;
  }
  #wrapper #tematic_foot .container .row h5 span {
    padding-left: 0px;
  }
  #wrapper #tematic_foot .container .row .col_sec {
    width: 25%;
  }
  #wrapper #tematic_foot .container .row .col_three .buy button {
    width: 120px;
    font-size: 13px;
  }
  #wrapper #tematic_foot .container .row .fourb {
    width: 33%;
  }
  #wrapper #tematic_foot .container .row .order {
    background-size: 225px;
    padding: 14px 0 20px 61px;
    margin-top: 18px;
    margin-left: 22px;
    font-size: 12px;
  }
  #wrapper #tematic_foot {
    padding-bottom: 25px;
    background-position-x: 54.7%;
  }
}
@media screen and (max-width: 767px) {
  #wrapper header .container .row .col-sm-3 {
    width: 28%;
    float: left;
  }
  #wrapper .container .row {
    overflow: hidden;
  }
  #wrapper header .container .row .col-sm-6 {
    width: 44%;
    padding: 7px 0 0 4px;
    float: left;
  }
  #wrapper header .container .row .col-sm-6 .inst img,
  #wrapper header .container .row .col-sm-6 .vk img {
    width: 40px;
  }
  #wrapper header .container .row .col-sm-6 .round {
    margin-right: 6px;
    width: 120px;
    height: 40px;
    padding: 9px 0;
  }
  #wrapper header .container .row .col-sm-3 .mail,
  #wrapper header .container .row .col-sm-3 .tell {
    letter-spacing: 0px;
    background-image: none;
  }
  #wrapper header .container .row .right_tel {
    padding: 20px 3px 0 0;
  }
  #wrapper .main_content .container .row .col-sm-5 {
    float: left;
    padding: 25px 0 0 3px;
    width: 47%;
  }
  #wrapper .main_content .container .row .col-sm-7 {
    float: left;
    padding: 52px 19px 0 0;
    width: 53%;
  }
  #wrapper .main_content .container .row .col-sm-5 .withbord {
    padding: 16px 0 16px 28px;
  }
  #wrapper .main_content .container .row .col-sm-5 p {
    letter-spacing: 0.7px;
  }
  #wrapper .main_content .container .row .col-sm-5 h5 {
    font-size: 13px;
  }
  #wrapper .main_content .container .row .col-sm-5 .atest {
    margin-left: 65px;
  }
  #wrapper .almost_footer .container .row .col-sm-9 {
    width: 52%;
    float: left;
  }
  #wrapper .almost_footer .container .row .col-sm-3 {
    float: left;
    width: 48%;
  }
  #wrapper footer h6 {
    letter-spacing: 0.7px;
  }
  #wrapper #myModal .modal-dialog {
    max-width: 442px;
    width: 100%;
    margin: 15px auto;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body h2 {
    letter-spacing: 2px;
    padding: 22px 0 14px;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 {
    padding: 19px 0 3px 0;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 input {
    width: 193px;
    letter-spacing: 2px;
    height: 46px;
    padding-left: 8px;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 button {
    margin: 26px auto 0;
  }
  #wrapper #ex .container #example_slider .owl-wrapper-outer .row .col-sm-4 {
    width: 50%;
    float: left;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 {
    width: 33.3%;
    float: left;
  }
  #wrapper #requared .container #requared_slider {
    padding: 20px 38px 27px 40px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req p {
    padding: 7px 5px 15px 5px;
  }
  #wrapper #tematic .container .tematic_top h5 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  #wrapper #tematic .container .tematic_top a {
    display: inline-block;
    margin-right: 1%;
    width: 100%;
    max-width: 18.5%;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label span {
    margin: 0px 0px 0 0;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label {
    padding-left: 11px;
  }
  #wrapper #tematic .container .under {
    padding-top: 160px;
  }
  #wrapper .main_content {
    padding-bottom: 21px;
  }
  #wrapper .design #design #pages .top_radio {
    padding-bottom: 100px;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label p {
    letter-spacing: 0px;
    font-size: 12px;
  }
  #wrapper .design #design .radio .top_radio .block .design_b {
    margin: 7px 3px 0 10px;
  }
  #wrapper #tematic .container .radio input[type="radio"] + label span,
  #wrapper #tematic .container .radio input[type="radio"]:checked + label span {
    width: 16px;
    height: 15px;
    background-size: 15px;
  }
  #wrapper .design #design .radio .top_radio .block .design_b p {
    font-size: 11px;
    font-weight: normal;
  }
  #wrapper .design #design .radio .top_radio .block .design_b {
    padding: 30px 0 0;
    height: 139px;
  }
  #wrapper #tematic_foot .container .row .col-sm-3,
  #wrapper #tematic_foot .container .row .col_sec,
  #wrapper #tematic_foot .container .row .col_three,
  #wrapper #tematic_foot .container .row .fourb {
    width: 50%;
    float: left;
  }
  #wrapper #tematic_foot {
    background-position-x: 15.7%;
  }
  #wrapper #tematic_foot .container .row .col_three .buy button {
    margin: 0 auto;
    display: block;
    width: 165px;
  }
  #wrapper #tematic_foot .container .row .col-sm-3 {
    padding-left: 5%;
  }
  #wrapper #tematic_foot .container .row .fourb {
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  #wrapper .design #design #format_r .top_radio .block .design_b {
    padding: 0px 0 0 0;
  }
  #wrapper #tematic .container .under a button {
    margin: 0 10px 0 auto;
  }
  #wrapper .design #design .radio .top_radio .block {
    width: 32%;
  }
  #wrapper .design #design .radio .top_radio .block .design_b {
    margin: 0px 3px 15px 10px;
  }
  #wrapper .design #design .radio .under .come_back button {
    margin: 0 auto 0 10px;
  }
  #wrapper #tematic .container .tematic_top a {
    max-width: 25.5%;
    margin: 0 0 10px 2%;
  }
  #wrapper #tematic .container .tematic_top {
    padding: 30px 0 5px;
  }
  #wrapper #tematic_foot .container .row .order {
    margin-left: 0px;
  }
  #wrapper .almost_footer {
    background-position-x: 14%;
  }
  #wrapper header .container .row .col-sm-3 {
    width: 36%;
  }
  #wrapper header .container .row .col-sm-6 {
    width: 62%;
    padding: 7px 0 0 12px;
  }
  #wrapper header .container .row .right_tel {
    width: 100%;
    padding: 11px 3px 6px 0px;
  }
  #wrapper header .container .row .col-sm-3 .mail,
  #wrapper header .container .row .col-sm-3 .tell {
    padding-right: 3%;
    display: inline;
  }
  #wrapper .main_content .container .row .col-sm-5 {
    width: 74%;
    margin: 0 auto;
    float: none;
  }
  #wrapper .main_content .container .row .col-sm-5 h5 {
    font-size: 15px;
    text-align: center;
  }
  #wrapper .main_content .container .row .col-sm-7 {
    width: 80%;
    float: none;
    padding: 33px 0px 0 0;
    margin: 0 auto;
  }
  #wrapper .almost_footer .container .row .col-sm-9 {
    width: 67%;
    float: none;
    margin: 0px auto;
    padding-top: 10px;
  }
  #wrapper .almost_footer .container .row .col-sm-3 {
    float: none;
    width: 62%;
    margin: 0 auto;
  }
  #wrapper .almost_footer .container .row .order {
    margin-top: 10px;
  }
  #wrapper .almost_footer .container .row p {
    padding-bottom: 2px;
  }
  #wrapper .almost_footer .container .row h5 {
    text-align: center;
    padding: 9px 0 14px 8px;
  }
  #wrapper footer h6 {
    padding: 11px 0;
  }
  #wrapper footer h6 a {
    display: block;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 {
    width: 100%;
    float: none;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req h3 {
    padding: 8px 0 3px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req p {
    padding: 2px 5px 4px 5px;
    line-height: 20px;
  }
}
@media screen and (max-width: 480px) {
  #wrapper #tematic .container .tematic_top a {
    max-width: 31.5%;
    margin: 0 0 10px 1%;
  }
  #wrapper #tematic .container .tematic_top a h5 {
    font-size: 10px;
  }
  #wrapper #tematic .container .tematic_top {
    padding: 15px 0 5px;
  }
  #wrapper #tematic .container .under a button {
    width: 128px;
    font-size: 11px;
  }
  #wrapper .design #design .radio .under .come_back button {
    margin: 0 auto 0 5px;
    width: 139px;
    font-size: 11px;
  }
  #wrapper .design #design #howmany .top_radio h6 {
    letter-spacing: 1px;
  }
  #wrapper .design #design #howmany .top_radio {
    padding-bottom: 45px;
  }
  #wrapper .design #design .radio .top_radio .block {
    width: 48%;
  }
  #wrapper .design #design #format_r .top_radio .block {
    width: 30%;
  }
  #wrapper #tematic_foot .container .row .col-sm-3,
  #wrapper #tematic_foot .container .row .col_sec,
  #wrapper #tematic_foot .container .row .col_three,
  #wrapper #tematic_foot .container .row .fourb {
    padding-left: 0;
    width: 100%;
    float: none;
  }
  #wrapper #tematic_foot .container .row .col_three .buy {
    padding-top: 12px;
  }
  #wrapper #tematic_foot .container .row h5 {
    padding: 3px 0 0px 0px;
  }
  #wrapper .design {
    padding-bottom: 0 !important;
  }
  #wrapper #tematic_foot .container .row .col_three .buy button {
    height: 35px;
  }
  #wrapper #tematic_foot .container .row .order {
    margin: 15px auto 0 auto !important;
    width: 185px;
    display: block;
    padding: 12px 0 19px 52px;
    font-weight: 400;
    font-size: 11px;
    background-size: 182px !important;
  }
  #wrapper #tematic_foot {
    padding-bottom: 12px;
    background-size: cover;
  }
  #wrapper header .container .row .col-sm-3 {
    width: 35%;
    float: none;
    margin: 0 auto;
  }
  #wrapper header .container .row .col-sm-6 {
    width: 262px;
    padding: 7px 0 0 0;
    float: none;
    margin: 0 auto;
  }
  #wrapper header .container .row .right_tel {
    padding: 11px 0 6px 0;
    width: 267px;
  }
  #wrapper header .container .row .col-sm-3 .mail {
    text-align: center;
    width: 263px;
    display: inline-block;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req img {
    width: 56px;
  }
  #wrapper #requared .container #requared_slider .owl-wrapper-outer .row .col-sm-4 .inside_req .text_req {
    margin: 0 3px;
    margin-top: 9px;
  }
  #wrapper .almost_footer .container .row .col-sm-9 {
    width: 100%;
  }
  #wrapper .almost_footer .container .row .col-sm-3 {
    width: 289px;
  }
  #wrapper #myModal .modal-dialog {
    width: 95%;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body h2 {
    font-size: 22px;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body h6 {
    letter-spacing: 0.5px;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 input,
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 .telclass {
    margin: 5px auto;
    width: 90%;
    display: block;
  }
  #wrapper #myModal .modal-dialog .modal-content .modal-body .modal_form_1 button {
    font-size: 14px;
  }
  #wrapper #ex .container #example_slider {
    padding: 10px 38px 5px 40px;
  }
  #wrapper .main_content .container .row .col-sm-5 {
    width: 320px;
  }
  #wrapper .main_content .container .row .col-sm-7 #mainslider .owl-next,
  #wrapper .main_content .container .row .col-sm-7 #mainslider .owl-prev {
    height: 48px;
    width: 48px;
    top: 32%;
  }
  #wrapper .main_content .container .row .col-sm-5 .border {
    margin: 0 43px 4px 4px;
  }
}
